:root {
  --main-branding-color: rgb(77, 131, 133);
  --branding-color: rgb(66, 80, 134);
}
.hero {
  background-color: aliceblue;
  text-align: center;
  padding: 100px 20px;
}
.hero h1 {
  color: var(--main-branding-color);
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}
.hero p {
  color: rgb(66, 80, 134);
  font-weight: bold;
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 30px;
}
.hero h3 {
  color: rgb(66, 80, 134);
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 30px;
}
.btn-outline-secondary {
  color: var(--main-branding-color);
}
.btn-outline-secondary:hover {
  background-color: var(--main-branding-color);
}
.homepage p {
  color: rgb(85, 81, 81);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.project-description {
  padding: 50px 60px;
}

@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
}
.custom-text-color {
  color: rgb(66, 80, 134);
}
.container h2 {
  color: rgb(66, 80, 134);
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 30px;
  font-weight: bolder;
}

.about-section h1 {
  padding-top: 15px;
  font-size: 55px;
  line-height: 80px;
  font-family: "Poppins", sans-serif;
}
.about-section h2 {
  font-size: 18px;
  font-family: "Tsukimi Rounded", sans-serif;
}
.about-section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.about-section-content {
  margin: 30px;
}
.btn-outline-secondary {
  background: var(--main-branding-color);
  color: white;
  border-radius: 4px;
  font-size: 15px;
  line-height: 20px;
  padding: 9px 12px;
}

.col-lg-6 {
  margin-top: 47px;
}
.smaller-image {
  max-height: 470px;
}

.content-container {
  padding: 70px 20px;
}

.content h1 {
  font-size: 60px;
  line-height: 80px;
  font-family: "Poppins", sans-serif;
  color: var(--main-branding-color);
}

.content h2 {
  font-size: 18px;
  font-family: "Tsukimi Rounded", sans-serif;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  color: rgb(66, 80, 134);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.logo {
  max-height: 40px;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--main-branding-color);
}
